body {
    background-image: url(download\ \(1\).jpg);
    font-family: 'Courier New', Courier, monospace;
    color: white
    ;
}
.haiking {
    background-color: rgb(224, 121, 137);
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.climbing {
    background-color: rgb(224, 121, 137);
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}